<div class="container">
    <%= render 'shared/errors', obj: @article %>
    <div class="center">
        <%= form_with model: @article,class:"shadow p-3 mb-3 bg-primary rounded", local: true do |f|%>
        <div class="form-group row">
                <%= f.label :title, class:"col-2 col-form-label text-light"%>
                <div class="col-10">
                    <%= f.text_field :title, class:"form-control", placeholder:"Title of article"%>
                </div>
            </div>

            <div class="form-group row">    
                <%= f.label :description,class:"col-2 col-form-label text-light"%>
                <div class="col-10">
                    <%= f.text_area :description,row: 10, class:"form-control", placeholder:"Description of article"%> 
                </div>   
            </div>  

            <div class="row justify-content-center">
                <%= f.submit class:"btn btn-success" %>
            </div> 
        <%end%>
         <%= link_to 'Cancel and back article list', articles_path,class:"btn btn-warning"%>
    </div>  
</div>