<h1>Article index page</h1>
<table>
<thead>
    <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Actions</th>
    </tr>
</thead>
<tbody>
<% @articles.each do |article| %>
<tr>
    <th><%= article.title %></th>
    <th><%= article.description %></th>
    <th><%= link_to 'edit',edit_article_path(article) %></th>
    <th><%= link_to 'show',article_path(article) %></th>
    <th><%= link_to 'delete',article_path(article), method: :delete %></th>
    <% end %>
</tr>
</tbody>
</table>
<%= link_to 'Home page', root_path%>
<br><%= link_to 'Creat a new article', new_article_path%>