<div class="container">
    <%= render 'shared/errors', obj: @user%>
    <div class="">
        <%= form_with model: @user,class:"shadow p-3 mb-3 bg-primary rounded", local: true do |f|%>
        <div class="form-group row">
                <%= f.label :username, class:"col-2 col-form-label text-light"%>
                <div class="col-10">
                    <%= f.text_field :username, class:"form-control", placeholder:"Username"%>
                </div>
            </div>

            <div class="form-group row">    
                <%= f.label :email,class:"col-2 col-form-label text-light"%>
                <div class="col-10">
                    <%= f.text_area :email, class:"form-control", placeholder:"Email"%> 
                </div>   
            </div>  

            <div class="form-group row">    
                <%= f.label :password,class:"col-2 col-form-label text-light"%>
                <div class="col-10">
                    <%= f.password_field :password, class:"form-control", placeholder:"Password"%> 
                </div>   
            </div>  

            <div class="row justify-content-center">
                <%= f.submit 'Update User',class:"btn btn-outline-light btn-lg" %>
            </div> 
        <%end%>
    </div>  
</div>